
body{
    background-color: #F2E9D8;
    font-family: 'Montserrat', serif;
}

.main{
 position: relative;
 align-content: center;
}

.main__navigation{
padding-top: 10px;
margin-left: auto;
margin-right: auto;
width: 1200px;
text-align:center;
height: 90px;



}



.main__navigation-item{
    position: relative;
    text-decoration: none;
    color: #654A31 ;
    padding-left: 20px;
    margin-top: auto;
    font-size: 17px;
    top: -24px;
    transition-duration: 0.1s;
}
.main__navigation-item:hover{
    transform: scaleX(1.1);
    transform: scaleY(1.1)

}

.main__navigation-signin{
    position: relative;
    text-decoration: none;
    color: #654A31 ;
    padding-left: 100px;
    top: -24px;

}

.main__navigation-register{
    position: relative;
    top: -24px;
    left: 25px;
    border-radius: 23px ;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    background-color: #8A8C3F;
    color: #fff;
    transition-duration: 0.5s;
    font-family: 'Montserrat', serif;
}

.main__navigation-register:hover{
    background-color:#654A31;
    color: #fff;
    transform: scaleX(1.1);
    transform: scaleY(1.1);

}

.main__firstp{
margin-left: auto;
margin-right: auto;
width: 1200px;
padding-top: 50px;
}

.main__firstp-drummers{
    position: relative;
    padding-left: 70px;
    padding-top: 20px;
}

.main__firstp-boy{
    width: 563px;
    height:460px;
}
